.nopadding{
    padding: 0 !important;
}

.content-section{
    position: relative;
    display: flex;
    flex-direction: column;
}

.section__one{
    padding: 0 50px;
    background-color:#292a2d;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section__two{
    padding: 0 50px;
    background-color: #f1f1f1;
    height: 100vh;
}

.mainPageTitle-wrapper{
    border: solid var(--text-colour);
    border-width: .1rem 0px;
    width: 100%;
    /* margin: 21.44px 0; */
    padding: 21.44px 0;
    
}

.mainPageTitle-main {
    font-family: var(--title-font);
    /* font-size: 2.364687335785602vw; */
    font-size: 150px;
    margin: 0;
    color: var(--text-colour);
  }
  
.mainPageTitle-sub{
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
    color: var(--text-colour);
}

.img-down{
    position: absolute;
    width: 100px;
    height: 100px;
    filter: invert(100%) sepia(7%) saturate(50%) hue-rotate(309deg) brightness(115%) contrast(89%);
    bottom: 0;
}

div.pageHeader-wrapper {
    width: 100%;
    margin: 0 0 21.44px 0;
    padding: 21.44px 0;
}

h1.pageHeader-main {
    font-family: var(--title-font);
    /* font-size: 2.364687335785602vw; */
    font-size: 45px;
    margin: 0;
}

/* h2.pageHeader-sub{
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
} */

.blackfont{
    color: black;
}

.blackborder{
    border: solid black;
    border-width: 0px 0px .1rem 0px;
}

.whitefont{
    color: var(--text-colour)
}