
@-webkit-keyframes tracking-in-expand {0% {letter-spacing: -.5em;opacity: 0} 40% {opacity: .6} 100% {opacity: 1} }

@keyframes tracking-in-expand { 0% {letter-spacing: -.5em;opacity: 0} 40% {opacity: .6} 100% {opacity: 1}}

.tracking-in-expand { -webkit-animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both; animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@-webkit-keyframes slideinfade { 
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 100%; }
}

@keyframes slideinfade {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 100%; }
}

.root {
    position: relative;
    z-index: 100;
}


.footer {
    flex: 0 1 auto;
}

.content {
    display: flex;
    flex-flow: column;

    height: 100%;
    flex: 1 1 auto;
}

@for $i from 0 through 2 {
    .introduction > *:nth-child(#{$i+1}){
        -webkit-animation: slideinfade 1s cubic-bezier(0.65, 0, 0.35, 1) 1 normal forwards;
        animation: slideinfade 1s cubic-bezier(0.65, 0, 0.35, 1) 1 normal forwards;
        -webkit-animation-delay: 0s + $i * 0.25;
        animation-delay: 0 + $i * 0.25;
    }
}

.introduction {
    text-align: center;
    margin: auto;

    > *{
        opacity: 0;
    }

    & ion-icon {
        width: 36px;
        height: 36px;
        color: #4a4a4a;

        &:hover {
            color: gray;
        }
    }

    & .contacts {
        margin: 2rem 0;

        & .links {
            margin-top: 1em;
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 2rem;
        }

        & a:hover {
            border: none;
        }
    }
}

.header {
    flex: 0 1 auto;

    & h4 {
        margin: 1.5rem 0;
    }

    & .links {
        display: flex;
        align-items: baseline;
        gap: 15px;

        & a{
            margin: 0 5px;
        }
    }
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    vertical-align: middle;
    width: 100%;
}

.post {
    display: flex;
    flex-flow: column;
    height: 100%;

    & .post-title {
        flex: 0 1 auto;
    }

    & .post-body {
        flex: 1 1 auto;
    }

    & .post-nav {
        flex: 0 1 auto;
    }
}


.contact {
    display: block;
    margin: 15px 0;
}

.projects {
    line-height: normal;

    & p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    & h4 {
        margin-bottom: 0;
        text-decoration: underline;
    }

    & small {
        margin-top: 0;
        margin-bottom: 0;
    }

    & .entry:last-child {
        margin-bottom: 30px;
    }
}

.projects-summary {
    p {
        margin-top: 0;
        margin-bottom: .5em;
        text-align: center;

    }
}


// @media (max-width: 558px) {
//     .logo{
//         display: none;
//     }
// }